.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  position: relative;
  padding: 36px;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

.modal__heading {
  /* color: #000; */
  color: rgba(0, 0, 0, 1);
}